fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
bcrypt
alembic
python-multipart
pytest
faiss-cpu
numpy
sentence-transformers
scikit-learn
openai-whisper
torch
torchaudio
librosa
soundfile 